* {
  cursor: url('/Assets/images/cursor.png'), auto;
  font-family: 'Merienda', 'Courier New', Courier, monospace;
}

body {
  background-image: url('/Assets/images/pexels-photo-3780104.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  box-shadow: 1px 9px 22px 9px #241730a1;
  border: 4px dashed #8b854a;
  border-radius: 70px;
  margin: 30px;
  color: rgb(231, 238, 128);
  text-shadow: 0px 0px 5px #3a1e42;
}

.material-symbols-outlined {
  margin: 30px;
}

#currentDay {
  position: sticky;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

textarea:focus {
  border: dashed 4px rgb(0, 217, 255);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.container-fluid {
  transform: scale(0.8);
  width: 120%;
  padding: 30px;
  margin: 50px;
  border: 4px dashed #8b854a;
  box-shadow: 1px 12px 22px 9px #241730a1;
  border-radius: 40px;
}

.material-symbols-outlined {
  display: flex;
  
}

.row {
  border: 1px solid #3a1e42;
}

.hour {
  background-color: rgb(139, 189, 150);
  color: #000000;
  font-size: 20px;
  border-top: 1px dashed #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: #8ab68db0;
  color: white;
}

.present {
  background-color: #d36e6e;
  color: white;
}

.future {
  background-color: #4f9e4a;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #2483ff;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
